<% provide(:title, 'Help') %>

<div class="well">
	<h1>About GPEN</h1>
	<p style="align:justify">
	The Databases of the Greater Philadelphia Environmental Network - a.k.a. "GPEN" - were created in 2005 by Sherry Riesner with seed funding from the Environmental Leadership Program Activity Fund. Because of the intrinsic value of the information contained in these tables we decided to rehost the GPEN Databases with more up-to-date, easy to use technology on the <%= link_to "PhillyEcoCity.com", "http://www.phillycocity.com" %> platform.
	</p>

	<p>
	The GPEN Databases help connect Enviromental and Sustainability related nonprofits, community-based organizations, businesses and professional groups, educational institutions, government agencies, and the general public in our region. The goal of the GPEN Databases is to fill an environmental information gap in our metropolitan area, and by doing so, dramatically increase individual involvement, and collaborations in our local environmental community.
	</p>

	<p>
	Our vision for PhillyEcoCity is to use the tools of information technology such as the GPEN databases to foster collaborations at the neighborhood, municipal, city, and county levels and increase significantly partnerships, coalitions, and visibility for environmental issues and initiatives.
	</p>
	<p>
	The GPEN Databases help increase volunteerism, inspire new projects, and feature educational and employment opportunities. Improved environmental communication will not only enhance the activities that relate to our natural world, but also our community and economic development and ultimately the health and quality of life of the region
	</p>

</div>