
      <div class="row">
         <div class="span3">
        	<div class="well">
          <%= image_tag("susan.jpg", :class => "profile-pic") %>
		  		<h3>Susan Davidson</h3>


          <h6>Joined</h6>
          March 1, 2012

          <h6>Email</h6>
          sdavidson@cis.upenn.edu

          <%= link_to image_tag("icon-twitter.png", :class => "social-icon"), '#' %>
          <%= link_to image_tag("icon-facebook.png", :class => "social-icon"), '#' %>
          <%= link_to image_tag("icon-linkedin.png", :class => "social-icon"), '#' %>
			</div> <!--/well-->
        </div><!--/span-->
        <div class="span9">

          <div class="row">
            <div class="span9">
              <div class="hero-unit">
                <h6>About Susan</h6>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae felis nisl, vitae luctus felis. Nam at ultricies est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae eros eu neque tincidunt consectetur eu nec urna. Phasellus non orci eget ipsum condimentum sodales eu ac mauris. Sed ante mi, porta a porta ut, eleifend sed a</p>

                <h6>Green Interests</h6>
                <span class="label label-success">Technology</span>
                <span class="label label-success">Social Entreprenuership</span>
                <span class="label label-success">Product Development</span>
                <span class="label label-success">Transportation</span>
                <span class="label label-success">Energy</span>
              </div>
            </div>
          </div>
        	<div class="row">
            <div class="span3">
              <h2>Organizations</h2>
              <hr>
            </div>

            <div class="span3">
              <h2>Jobs</h2>
              <hr>
            </div>

            <div class="span3">
              <h2>Projects</h2>
              <hr>
            </div>

          </div>
        </div><!--/span-->

      </div><!--/row-->

