<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your job application has been saved</h1>
    <p>
      You have successfully applied for job #<%= @job.id %>,
      entitled " <%= @job.title %> "
      Your application will be reviewed by the author of the job
      on the GPEN database, and will be in touch with you soon. 
      <% if !@organization.email.nil? %>
          In case you want to contact them directly, their email is
          <%= @organization.email %>.
      <% end %>
    </p>

    <p>
      All the best,
      The GPEN Team
    </p>
    
  </body>
</html>