<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your GPEN password has been changed</h1>
    <p>
Your GPEN password has been modified. The new password is <%= @new_pass %>. 
You can now sign in to GPEN with your email address and change the password on your profile : 
- in the navigation bar, click on "Profile"
- in the dropdown, click "Edit profile"
- change the password and password confirmation, and save.

And your password will be changed !  
    </p>

    <p>
      All the best,
      The GPEN Team
    </p>
    
  </body>
</html>