




<div class="row">
   <div class="span12">
      <div class="well">
        <table class="table table-striped">
        <thead>
          <tr>
            <th>Job Title</th>
            <th>Job Organization</th>
            <% if current_user.admin? %>
              <th>Remove Job App</th>
            <% end %>
          </tr>
        </thead>
        
        <tbody>
          <% if @jobs.any? %>
          

            <% @jobs.each do |job| %>
            <tr>
              <td><%= job.title %></td>
              <td><%= job.organization.name %></td>
              <td></td>
            </tr>
          <% end %>




      <% end %>      
        </tbody>
      
</table>
    </div><!--/well-->
  </div><!--/span12-->
</div><!--/row-->




