
<ul class="breadcrumb">
  <li>
    <a href="<%= root_path %>">Home</a> <span class="divider">/</span>
  </li>
  <li>
    <%= link_to 'Projects', projects_path %> <span class="divider">/</span>
  </li>
  <li class="active">Post Project</li>
</ul>
			



      <div class="row">
         <div class="span12">
          <div class="hero-unit">
            <h1>Post New Project</h1>
            <p>Post a green project or event and share it with the GPEN community!</p>
          </div>

          </div><!--/span12-->
          <div class="span12">
            <div class="well">
            <%= render 'form' %>
          </div><!--/well-->
          </div><!--/span12-->
        </div><!--/span-->
      </div><!--/row-->






