@import "bootstrap";

/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.clear {
clear: both;
}


/* header */

.navbar-inner {
  padding-left: 20px;
  padding-right: 20px;

  background-color: #5bb65b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF62C462', endColorstr='#FF51A351', GradientType=0);

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar .divider-vertical {
border-left: 1px solid #47a147;
border-right: 1px solid #93D693;
}

.navbar .nav > li > a {
color: #fff;
text-shadow: none;
}

.navbar-search .search-query {
color: #fff;
background: #999;
background: rgba(255, 255, 255, 0.5);
border: 1px solid #47A147;
}

.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 940px;
}

.nav-list.filters > li > a {
  padding: 3px 15px;
  font-size: 12px;
  line-height: 15px;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* elements */

.form-horizontal select.signup-birthdate {
  margin-bottom: 10px;
}

.form-horizontal .control-group .field_with_errors {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}


.field_with_errors > label, .field_with_errors .help-block, .field_with_errors .help-inline {
  color: #B94A48;
  padding-top: 5px;
}

.field_with_errors {
  display: inline-block;
}
.field_with_errors input, .field_with_errors select, .field_with_errors textarea {
color: #B94A48;
border-color: #B94A48;
}


/*
.progress {
background-color: #F6F6F6;
background-image: -moz-linear-gradient(top, whiteSmoke, #F9F9F9);
background-image: -ms-linear-gradient(top, whiteSmoke, #F9F9F9);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(whiteSmoke), to(#F9F9F9));
background-image: -webkit-linear-gradient(top, whiteSmoke, #e9e9e9);
background-image: -o-linear-gradient(top, whiteSmoke, #F9F9F9);
background-image: linear-gradient(top, whiteSmoke, #F9F9F9);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF5F5F5', endColorstr='#FFF9F9F9', GradientType=0);
}*/

:-moz-placeholder {
  color: #888;
}
::-webkit-input-placeholder {
  color: #888;
}



.nav-list .active > a:hover {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #40A5CC;
  padding-right : 50px;
}



.navbar .brand {
  padding: 5px 20px;
}

.profile-pic {
  max-width: 180px;
}

.profile-icon {
  margin: 1px;
}

.login-field {
width: 170px;
}

input[type="text"].big-search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  width: 450px;
  height: 40px;
  font-size: 20px;
}

.form-big-search {
  margin-top: 20px;
}

.btn-big-search {
  line-height: 40px;
  font-size: 20px;
}

.org-logo {
  border: 1px solid $grayLighter;
}

.social-icon {
  margin-top: 10px;
  margin-right: 5px;
}

.btn-signup {
  margin-top: 10px;
  width: 180px;
  line-height: 40px;
  padding: 0px;
  font-size: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.cross {
  padding-left : 5px;
}

.cross > a {
  color : white;
}



/* TYPOGRAPHY ************************ */

h6 {
  text-transform: uppercase;
  color: #999;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}