@import "bootstrap";

/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 80px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.clear {
clear: both;
}

a:hover {
  color: #5bb65b;
  text-decoration: underline;
}

.forgot-password {
  font-size: 9px;
}

.entity-description {
  height: 200px;
}

.label, .badge {
  font-size: 8px;
  font-weight: bold;
  line-height: 10px;
  color: white;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  letter-spacing: 1px;
}



/* making content transparent white background */

.hero-unit {
  
  background: url(image_path('white-bg.png'));
  background: rgba(255,255,255,.8);
  -moz-box-shadow: 0px 0px 5px #666;
  -webkit-box-shadow: 0px 0px 5px #666;
  box-shadow: 0px 0px 5px #666;
  margin-bottom: 20px;
}

.breadcrumb {
  background: url(image_path('white-bg.png'));
  background: rgba(255,255,255,.8);
  -moz-box-shadow: 0px 0px 5px #666;
  -webkit-box-shadow: 0px 0px 5px #666;
  box-shadow: 0px 0px 5px #666;
}

.well {
  background: url(image_path('white-bg.png'));
  background: rgba(255,255,255,.8);
  border: none;
  -moz-box-shadow: 0px 0px 5px #666;
  -webkit-box-shadow: 0px 0px 5px #666;
  box-shadow: 0px 0px 5px #666;
}

input[type="text"].big-search-query {
  /*background-color: rgba(255,255,255,.6);*/
  background: url(image_path('white-bg.png'));
  border: none;
  -moz-box-shadow: 0px 0px 5px #666;
  -webkit-box-shadow: 0px 0px 5px #666;
  box-shadow: 0px 0px 5px #666;
}

header {
  -moz-box-shadow: 0px 0px 2px #999;
  -webkit-box-shadow: 0px 0px 2px #999;
  box-shadow: 0px 0px 2px #999;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  /*
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  color: #C09853;*/

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
  -moz-box-shadow: 0px 0px 5px #666;
  -webkit-box-shadow: 0px 0px 5px #666;
  box-shadow: 0px 0px 5px #666;
}

.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background: url(image_path('white-bg.png'));
}

.breadcrumb li {
  text-shadow: none;

}

.nav-list > li > a, .nav-list .nav-header {
  text-shadow: none;
}

.breadcrumb .active {
  color: #333;
  font-weight: bold;
}

.nav-header, h6 {
  color: #666;
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: none;
}


.modal.wide {
  width: 760px;
  margin: -250px 0 0 -380px;
}

.form-horizontal .help-block {
  margin-top: 10px;
  margin-bottom: 0;
  clear: both;
}

/* header */

.navbar-inner {
  padding-left: 20px;
  padding-right: 20px;

  /*
  background-color: #5bb65b;
  
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF62C462', endColorstr='#FF51A351', GradientType=0);
  */

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);

  height: 55px;
}


.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  text-decoration: none;
  color: white;
  background-color: #5bb65b;
  
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF62C462', endColorstr='#FF51A351', GradientType=0);


}

.navbar .divider-vertical {
height: 54px;
margin: 0 9px;
border-left: 1px solid #F2F2F2;
border-right: 1px solid white;
}

.navbar .nav > li {
  float: left;
  line-height: 55px;
}

.navbar .nav > li > a {

padding: 0px 15px;
font-size: 13px;
}

.navbar-search .search-query {
color: #fff;
background: #999;
background: rgba(255, 255, 255, 0.5);
border: 1px solid #47A147;
}

.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 940px;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  border-width: 0;
}

.nav-list.filters > li > a {
  padding: 3px 15px;
  font-size: 12px;
  line-height: 15px;
}


.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #555;
  border-bottom-color: #555;
  margin: 25px 0 0;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: transparent;
  text-decoration: none;
}

/* footer */
/*
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}*/

/* elements */

.form-horizontal select.signup-birthdate {
  margin-bottom: 10px;
}

.form-horizontal .control-group .field_with_errors {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}


.field_with_errors > label, .field_with_errors .help-block, .field_with_errors .help-inline {
  color: #B94A48;
  padding-top: 5px;
}

.field_with_errors {
  display: inline-block;
}
.field_with_errors input, .field_with_errors select, .field_with_errors textarea {
color: #B94A48;
border-color: #B94A48;
}


/*
.progress {
background-color: #F6F6F6;
background-image: -moz-linear-gradient(top, whiteSmoke, #F9F9F9);
background-image: -ms-linear-gradient(top, whiteSmoke, #F9F9F9);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(whiteSmoke), to(#F9F9F9));
background-image: -webkit-linear-gradient(top, whiteSmoke, #e9e9e9);
background-image: -o-linear-gradient(top, whiteSmoke, #F9F9F9);
background-image: linear-gradient(top, whiteSmoke, #F9F9F9);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF5F5F5', endColorstr='#FFF9F9F9', GradientType=0);
}*/

:-moz-placeholder {
  color: #888;
}
::-webkit-input-placeholder {
  color: #888;
}

.label {
  margin-right: 1px;
}

.nav-list .active > a:hover {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #40A5CC;
  padding-right : 50px;
}



.navbar .brand {
  padding: 0px 20px;
}

.profile-pic {
  max-width: 180px;
}

.profile-icon {
  margin: 1px;
}

.login-field {
width: 170px;
}

input[type="text"].big-search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  width: 450px;
  height: 40px;
  font-size: 20px;
}

.form-big-search {
  margin-top: 20px;
}

.btn-big-search {
  line-height: 40px;
  font-size: 20px;
}

.org-logo {
  border: 1px solid $grayLighter;
}

.social-icon {
  margin-top: 10px;
  margin-right: 5px;
}

.btn-signup {
  margin-top: 10px;
  width: 180px;
  line-height: 40px;
  padding: 0px;
  font-size: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.cross {
  padding-left : 5px;
}

.cross > a {
  color : white;
}



/* TYPOGRAPHY ************************ */

h6 {
  text-transform: uppercase;
  color: #666;
}

h3 {
  font-size: 24px;
  line-height: 30px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}




/***** Footer *****/

footer {padding: 10px 20px; background-color: #000; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}

footer p {color: white;}

.menu-footer {margin-bottom: 20px;}
#menu-navigation-footer {list-style: none; margin: 0 0 10px 0px;}
.menu-footer ul li {float: left; font-size: 14px; font-weight: bold; padding: 5px 0px 13px; margin: 0 15px 0 0px; list-style: none;}
.menu-footer ul li a {color: #fff;}
.menu-footer ul li a:hover {color: #5bb65b;}
.footer-left { width: 600px; float: left;}

.footer-leftpart {width: 202px; padding-right: 9px; float: left;}
.logo-footer {display: block; width: 202px; padding-bottom: 14px;}
.logo-footer, .logo-footer img {display: block;}
.logo-footer {color: #fff; font-size: 24px;}
.logo-footer span {display: block; width: 202px; height: 26px;}

.footer-middlepart {width: 377px; float: left; padding: 0 10px 10px;}
.footer-searchform {height: 40px; margin-bottom: 5px;}
.footer-searchform input {width: 365px; font-size: 16px; font-weight: bold; color: #323232; border: 1px solid #eee; padding: 4px 5px; margin: 0; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.footer-tags {color: #fff;}
.footer-tags p {font-size: 12px; font-weight: bold; color: #fff; margin-bottom: 5px;}
.footer-tags a {font-size: 11px; color: #fff;}
.footer-tags a:hover {color: #ff5800;}

.footer-linkset {width: 124px; float: left; padding: 0 10px 10px; border-left: 1px solid #5c5c5c; font-size: 12px;}
.footer-linkset a {color: #fff;}
.footer-linkset a:hover {color: #ff5800;}

.copyrights {width: 775px; float: left; padding: 18px 0; font-size: 11px; color: #323232;}
.activity .copyrights p, .copyrights p  {font-size: 10px;}
.copyrights a, .credits a {color: #ddd;}
.copyrights a:hover, .credits a:hover {color: #5bb65b;}
.credits {width: 145px; float: right; text-align: right; padding: 18px 0; font-size: 11px; color: #323232;}




.footer-social {float: right; width: 320px;}

.twitter-bird { float: left; width: 44px; height: 44px; margin-left: 60px; background: url(image_path('twitter-footer.png'))}

.social-links { float: right;}
.social-links li {display: inline; float: left; padding: 6px 3px; line-height: normal;}
.social-links a {display: block; width: 20px; height: 20px; background-image: url(image_path("icons.png")); background-repeat: no-repeat;}
.social-links .feed a {background-position: 0 4px;}
.social-links .twitter a {background-position: 0 -32px;}
.social-links .fb a {background-position: 0 -68px;}
.social-links .youtube a {background-position: 0 -320px;}



   #twitter_container {
     float: right; width: 260px; background: url(image_path('twitter-bg.png')); padding: 10px; margin: 0 0 0 40px;
     -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
   }

       #twitter_update_list {
           width: 250px;
           padding: 0;
           overflow: hidden;
       }

       #twitter_update_list li span {
       font-size: 15px;
       font-weight: normal;
       line-height: 19px;
       color: #eee;
       margin-bottom: 15px;
       }

     #twitter_update_list li a { font-size: 10px; color: #43A04F; }
     
       #twitter_update_list li span a { font-size: 15px; color: #bbb; }
