<ul class="breadcrumb">
        <li>
          <a href="<%= root_path %>">Home</a> <span class="divider">/</span>
        </li>
        <li>
          <%= link_to @organization.name, @organization %> <span class="divider">/</span>
        </li>
        <li class="active">Edit Organization Profile</li>
      </ul>

<h1>Edit Organization Profile</h1>
<hr>

<%= render 'form' %>

